<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block page_title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
			{% if user.is_authenticated %}
			    <a href="{% url project:todo_list %}">To do list</a>
			    <a href="{% url logout %}">logout</a>
			{% endif %}
			</nav>
		</header>
		{% block page_content %}{% endblock %}
	</body>
</html>