{% extends "_layouts/base.html" %}

{% block page_title %}{{ todo.name }}{% endblock %}

{% block page_content %}
<div>
<h2>To-Do list</h2>
<a href="{% url project:todo_create %}">Create new To-Do</a>
{% for todo in todo_list %}
    <h3>{{ todo.name }} <a href="{% url project:todo_update todo.id %}">edit</a> <a href="{% url project:todo_delete todo.id %}">delete</a></div></h3>
    {% for task in todo.task_set.all %}
        <p>{{ task.name }} <a href="{% url project:task_delete todo.id task.id %}">resolve</a></p>
    {% empty %}
    {% endfor %}
    <a href="{% url project:task_create todo.id %}">Create new Task</a>
{% empty %}
    No To-Dos.
{% endfor %}
</div>
{% endblock %}